.background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 0;
  }
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(37,145,251,0.98) 0.1%, rgba(0,7,128,1) 99.8% );;
    background-image: url(image.jpg);
}
.hero{
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
}
img{
    width: 120px;
}
.logo{
    margin-left: 20px;
    width: min-content;
    min-height: min-content;
}
span{
    color: gold;
}
nav ul li{
    list-style-type: none ;
    display: inline-block;
    padding: 10px 20px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    color: gold;
    transition: .1s;
    cursor: pointer;
    }
.me{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}
h1{
    color: gold;
    font-size: 75px;
    margin: 20px 0px 20px;
}
h3{
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
}
h4{
    letter-spacing: 2px;
    font-size: 20px;
    color: goldenrod;
}
.skills{
    width: 100%;
    padding: 100px 0px;
}
.title h2{
    color: gold;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}
.card-box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}
.card{
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
    color: white;
    border: 1px solid;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.Education{
    color: antiquewhite;
    text-align: center;
    font-size: 16px;
}
.Testimonials{
    color: antiquewhite;
    text-align: center;
    font-size: 16px;
}
.Contacts{
    color: antiquewhite;
    text-align: center;
    font-size: 16px;

}

.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: goldenrod;
}
h5{
    font: 25px;
    font-weight: bold;
    margin-bottom: 15px;

}
.Education p{
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}
.web p{
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}
.card .button{
    color: white;
    background-color: goldenrod;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
.card .button:hover{
    background-color: transparent;
    border: 2px solid goldenrod;
    cursor: pointer;
}